html{
    font-size: 20px;
}

.container{
    font-size:10px;
    border: 3px solid blue;
    /* width: 300px; */
    width:100vw;
    /* height: 500px; */
    height: 99vh; /* 50% Of the view-height*/
    width:99vw; /* 50% Of the view-width*/
    box-sizing: border-box;
}
/* #one{
 /* font-size:2em; /* 2 * font-size of immediate parent = 2 * 10 = 20px; */
 /* padding : 3em; 3* font -size * font-size of immediate parent = 3 * 2 * 10 = 60 

} */
/* #two{
    /* font-size : 3rem; /* calculates based on root html element 3 rem =  3 * 20(html) = 60px */
    /* padding: 2rem; calculates based on root html element 2 rem = 2* 20(html)= 40 px 
} */