<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Border,Height,Background,Width = layout</title> -->
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <h2>Border,Height,Background,Width</h2>

    <div id="productFour">product Four</div>

    <div class="product">product One</div>
    
    <div class="product">product Two</div>

    <div id="productThree">product Three</div>


</body>
</html>