.top-section{
border:2px solid red;
}
img{
    width: 50px;
    height:50px;
    display:block;
    margin:auto;
}
h3{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    text-align: center;
}
/* h4{
    height:auto;
    width:fit-content;
} */
.wrap{
    border:3px solid rebeccapurple;
    background-color: cornsilk;
    padding:20px;
    margin:10px;
    display:block;
   box-sizing: border-box;

}
.container{
    margin:auto;
    width:1000px;
}