h2{
    border-bottom:1px solid red;
}
p{
    border-top:1px solid green;
    font-family:'Alkatra', cursive;
    font-size:30px;
    line-height: 110px;
    /* 1px = 1/96th of inch */
}
span{
    color:aqua;
    font-style:oblique;
    font-size: bold;
}